@font-face {
    font-family: "MDL2";
    src: url("/fonts/segmdl2.ttf")format("truetype");
}

@font-face {
    font-family: "emoji";
    src: url("/fonts/seguiemj.ttf") format("truetype");
}

@font-face {
    font-family: "slboot";
    src: url("/fonts/slboot.ttf") format("truetype");
}

@font-face {
    font-family: "dengl";
    src: url("/fonts/Dengl.ttf") format("truetype");
}