/*Lenis.js basic*/

html.lenis, html.lenis body {
    height: auto;
}
   
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}



/*Scroll bar*/

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.2);
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #0004;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0006;
}

::-webkit-scrollbar-thumb:active {
    background-color: #0008;
}

