@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito-SemiBold.ttf)format(Truetype);
}

* {
    font-family: 'nunito', Arial;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 1s ease-in-out;
}

.center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

#prepare {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 114;
    opacity: 1;
    transition: opacity 1s ease-out;
}

#prepare h1,
#prepare span,
#prepare #start {
    margin: 10px;
    color: white;
}

select {
    padding: 6px;
    color: #fff;
    background-color: #000;
    border: 1px solid white;
    pointer-events: visible;
    outline: none;
}

#start {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    transition: box-shadow 200ms;
    pointer-events: visible;
}

#start:hover,
input:hover,
input:focus {
    box-shadow: 0px 0px 10px white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes lr {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.container h1 {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    animation: lr 5s ease-in-out infinite;
}

#stage {
    position: fixed;
    bottom: 0px;
}

#stage img {
    transition: opacity 0.3s;
    object-fit: cover;
}
