/*2024/10/12*/
.card-1 {
    background: url(/imgs/bgs/20241002.jpg);
    background-position: center;
    background-size: cover;
    display: none;
}

/*2023/09/24*/
.card-2 {
    background: url(/imgs/bgs/20230924.jpg);
    background-position: center;
    background-size: cover;
}